<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваш ответ записан!</title>
	<link rel="icon" type="image/png" href="static/орео1.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background: #efefef;">
<h1>Добрый день, {{ name }}!<br> Спасибо за Ваш голос!</h1>
<p>Образование: {{ ausbildung }}<br>
	Возраст: {{age}}<br>
	Язык: {{idiom}}<br>
	Город: {{city}}</p>
<p>
   <!--  Ты
    {% if not student %}
    не
    {% endif %}
    студент. -->
</p>
</body>
</html>