<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Статистика</title>
	<link rel="icon" type="image/png" href="static/орео1.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body style="background: #efefef;">
	<table border = 1>
         <!-- {% for name, oreo in stats.iteritems() %} -->
         
            <tr>
               <th> {{ name }} </th>
               <td> {{ word }} </td>
            </tr>
            
         <!-- {% endfor %} -->
      </table>
</body>
</html>